.mdl-grid {
  max-width: 960px;
}

.mdl-cell {
  /*background-color: #AAF;*/
}

#neural-structure {
  background-color: #666;
  min-height: 50px;
  height: 60px;
}

#neural-graph {
  background-color: #888;
}

#neural-parameters {
  min-height: 278px;
  background-color: #AAA;
  
}

#examples {
  min-height: 278px;
  background-color: #EEE

}

#learn-graphs{
  background-color: #EEE
}

.separator {
  height: 18px;

}