html *
{
   font-family: roboto;
}

.mdl-grid {
  max-width: 960px;
}

.mdl-cell {
  /*background-color: #AAF;*/
}


.card-title {
  font-family: roboto;
  font-weight: 500;
  font-size: 15px;
  color: #999;
  margin-left: 7px;
  margin-top: 4px;
}


#neural-structure {
  background-color: #FAFAFA;
  min-height: 50px;
  height: 90px;
}

#neural-graph {
  background-color: #FAFAFA;
}

#neural-parameters {
  min-height: 278px;
  background-color: #FAFAFA;
  
}

#examples {
  min-height: 278px;
  background-color: #EEE

}

#learn-graphs{
  background-color: #EEE
}

.separator {
  height: 18px;

}